/*******************    CSS Start Here   ********/
html,body{
    margin: 0;
    padding: 0;
    border: 0;
  }
  div.footer {background-color: #709693; clear: both;  text-align: center; font-size: 20px; padding: 12px; }
  #wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fe5656;    
  }
  .banner{
   display: flex;   
   background-color: #888d65;   
  }
  .title{
      background-color: #888d65;
      font-size: 24px;
      font-weight: bold;
      padding-top: 12px;
      padding-left: 25px;
      width: 350px;   
  }
  .main{
      flex-grow: 1;
  }
  /*******************************************************/
  /***   CSS for BookMark                              **/
  /******************************************************/
  .aa2 {
     color:rgb(70, 38, 9);
     font-weight: 600;
     font-size: 18px;
   }
   .txhead{
     background-color: #c59640;
     font-size: 20px;
   }
   .txhead th {
     padding: 6px;
     color: #002254;
   }
   .xta {
     background-color: #e7e4c8;
     width: 100%;
   }
   .xta td{
     border: #f3f3ef solid 1px;
     padding: 3px;
     margin: 2px;
   }
   /*******************************************************/
   div.bmk_baner {background-color: #ff6666; text-align: center; padding: 5px; font-size: 26px; color: #ffffff;}
   div#main {position:relative; background-color: #aaaaff; 
     width: 84%;
     margin-left: 8%;
     flex-grow: 1;
   }
  div.container2{
     display: flex;
     width: 100%;
     justify-content:space-around; 
     flex-wrap: wrap;
     flex-direction:row;
     justify-content: flex-start;
     color: black;
   }
   div.submk{
     background-color: #e7e4c8;
     padding: 6px;
     width: 515px;
     margin-top: 10px;
     margin-left: 8px;
   }
   /****************************************************/
