.aa1{
 background-color: #656598;
 font-size: 22px;
 color: black;
}
/*******************    CSS Start Here   ********/
.banner{
 width: 100%;
 background-color: #f1f1f1;   
}
.title{
    width: 500px;
   }
   .banner img {
    margin-right: 18px;
   }